* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid orange;
  font-weight: bold;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  height: 105px;
}